<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.product.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.account.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAvatarServlet</servlet-name>
        <servlet-class>controller.account.EditAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.account.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.account.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.account.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>controller.account.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.product.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.blog.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.admin.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockAccountServlet</servlet-name>
        <servlet-class>controller.admin.BlockAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>controller.cart.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>controller.cart.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>controller.cart.ClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddproductServlet</servlet-name>
        <servlet-class>controller.admin.AddproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>controller.order.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.admin.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountsManageServlet</servlet-name>
        <servlet-class>controller.admin.AccountsManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanAccountServler</servlet-name>
        <servlet-class>controller.admin.BanAccountServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpusServlet</servlet-name>
        <servlet-class>controller.account.HelpusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpManagementServlet</servlet-name>
        <servlet-class>controller.admin.HelpManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHelpServlet</servlet-name>
        <servlet-class>controller.admin.AddHelpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHelpServlet</servlet-name>
        <servlet-class>controller.admin.UpdateHelpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHelpServlet</servlet-name>
        <servlet-class>controller.admin.DeleteHelpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>controller.admin.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>controller.admin.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManagementServlet</servlet-name>
        <servlet-class>controller.staff.BlogManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogServlet</servlet-name>
        <servlet-class>controller.staff.CreateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>controller.staff.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>controller.staff.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogManagement</servlet-name>
        <servlet-class>controller.admin.AdminBlogManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBlogStatusServlet</servlet-name>
        <servlet-class>controller.admin.ChangeBlogStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>controller.blog.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCommentServlet</servlet-name>
        <servlet-class>controller.blog.EditCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>controller.blog.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendContactServlet</servlet-name>
        <servlet-class>controller.common.SendContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementServlet</servlet-name>
        <servlet-class>controller.seller.OrderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAllOrdersServlet</servlet-name>
        <servlet-class>controller.order.CancelAllOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelSingleOrderServlet</servlet-name>
        <servlet-class>controller.order.CancelSingleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderStateServlet</servlet-name>
        <servlet-class>controller.seller.ChangeOrderStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderByTabServlet</servlet-name>
        <servlet-class>controller.seller.LoadOrderByTabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.order.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactManagementServlet</servlet-name>
        <servlet-class>controller.staff.ContactManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadContactServlet</servlet-name>
        <servlet-class>controller.staff.ReadContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyContactServlet</servlet-name>
        <servlet-class>controller.staff.ReplyContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactServlet</servlet-name>
        <servlet-class>controller.staff.DeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeContactStatusServlet</servlet-name>
        <servlet-class>controller.staff.ChangeContactStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAvatarServlet</servlet-name>
        <url-pattern>/editavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/accountmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockAccountServlet</servlet-name>
        <url-pattern>/blockaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/removeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/clearcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpusServlet</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManagementServlet</servlet-name>
        <url-pattern>/blogmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogServlet</servlet-name>
        <url-pattern>/createblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogManagement</servlet-name>
        <url-pattern>/adminblogmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBlogStatusServlet</servlet-name>
        <url-pattern>/changeblogstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpManagementServlet</servlet-name>
        <url-pattern>/helpmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHelpServlet</servlet-name>
        <url-pattern>/addhelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHelpServlet</servlet-name>
        <url-pattern>/updatehelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHelpServlet</servlet-name>
        <url-pattern>/deletehelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCommentServlet</servlet-name>
        <url-pattern>/editcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendContactServlet</servlet-name>
        <url-pattern>/sendcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementServlet</servlet-name>
        <url-pattern>/ordermanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAllOrdersServlet</servlet-name>
        <url-pattern>/cancelallorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelSingleOrderServlet</servlet-name>
        <url-pattern>/cancelsingleorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderStateServlet</servlet-name>
        <url-pattern>/changeorderstate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderByTabServlet</servlet-name>
        <url-pattern>/loadorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactManagementServlet</servlet-name>
        <url-pattern>/contactmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadContactServlet</servlet-name>
        <url-pattern>/readcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyContactServlet</servlet-name>
        <url-pattern>/replycontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/deletecontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeContactStatusServlet</servlet-name>
        <url-pattern>/changecontactstatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>pduong244@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>zgalensymzpduknv</param-value>
    </context-param>
</web-app>