body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    position: relative;
    color: #3a3a3a;
}

a,
button {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

a:hover,
a:focus {
    color: #0080ff
}

textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    outline: 0;
}

label {
    margin-bottom: 10px;
}

@media (min-width: 1400px) {

    .container {
        max-width: 1200px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

input:focus,
button:focus {
    outline: 0px dotted;
    box-shadow: none;
}

input:not([type="radio"], [type="checkbox"]) {
    display: inline-block;
    line-height: 46px;
    height: 46px;
    font-size: 15px;
    font-weight: 350;
    color: rgb(40, 39, 39);
    width: 100%;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}


.logo {
    height: 60px;
}

header {
    background-color: #fff
}

header .header-top {
    background-color: #f5f6f9;
    color: #777;
    font-weight: 400;
}

header .header-top .welcome-text {
    display: flex;
    align-items: flex-start;
}

header .header-top .welcome-text p {
    font-size: 14px;
    line-height: 38px;
}

header .header-top .top-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
}


header .header-top .top-nav a {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1;
    color: rgb(103, 103, 103);
    font-weight: 350;
}

header .header-top .top-nav a i {
    margin-left: 10px;
    font-size: 14px;
    color: #777;
}

header .header-bottom {
    padding: 25px 0;
}


header .header-bottom .header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
}

header .header-bottom .header-actions p {
    font-size: 12px;
    line-height: 0.8;
}

header .header-bottom .header-actions>*+* {
    margin-left: 15px;
}

header .header-bottom .header-actions .header-action-btn {
    display: flex;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
}

header .header-bottom .header-actions .header-action-btn:hover {
    cursor: pointer;
}

header .header-bottom .header-actions .header-action-btn .header-action-icon {
    position: relative;
}

.header-action-avatar img {
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
}

header .header-bottom .header-actions .header-action-btn i {
    transition: 0s;
    color: #333;
}

header .header-bottom .header-actions .header-action-btn i:hover {
    color: #266bf9;
}

header .header-bottom .header-actions .header-action-btn .header-action-num {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: -2px;
    right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background-color: #266bf9;
    width: 16px;
    height: 16px;
}

header .header-bottom .header-actions .header-action-btn .cart-amount {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-left: 15px;
    color: #0f0f0f;
    transition: all 0.3s ease 0s;
}

header .header-bottom .header-actions .header-action-btn:hover .cart-amount {
    color: #266bf9;
}

.search-element {
    max-width: 570px;
    margin: auto;
}

.search-element form {
    position: relative;
}

.search-element form input {
    height: 46px;
    min-width: 500px;
    background-color: #fff;
    border: 0;
    border-radius: 40px;
    padding-right: 25px;
    border: 1px solid #ccc;
    padding-left: 58px;
}

.search-element form button {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 44px;
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
    transform: rotateY(180deg);
}

.search-element form button:hover {
    color: #558cfa;
}

.search-element .search-form {
    position: relative;
}

.search-element .search-form input {
    height: 46px;
    min-width: 500px;
    background-color: #fff;
    border: 0;
    border-radius: 40px;
    padding-right: 25px;
    border: 1px solid #ccc;
    padding-left: 58px;
}

.search-element .search-form button {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 44px;
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
    transform: rotateY(180deg);
}

.search-element .search-form button:hover {
    color: #558cfa;
}

header .main-menu {
    display: flex;
    /*
    justify-content: center;
    */
    align-items: center;
}

header .main-menu ul {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
}

header .main-menu ul li a {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 20px;
    padding: 15px 25px;
}

.category-dropdown {
    position: relative;
    margin-right: 40px;
}

.category-dropdown .dropdown-btn {
    display: flex;
    align-items: center;
    color: #333333;
    background-color: #f5f6f9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding: 18px;
    min-width: 275px;
    transition: background .5s, color .2s
}

.category-dropdown .dropdown-btn i:not(:last-child) {
    font-size: 18px;
    position: absolute;
    left: 0;
    margin-left: 22px;
}

.category-dropdown .dropdown-btn span {
    margin-left: 40px;
}

.category-dropdown .dropdown-btn i:first-child {
    margin-left: 24px;
    font-size: 22px;
    display: none;
}

.category-dropdown .dropdown-btn i:last-child {
    position: absolute;
    font-size: 15px;
    right: 0;
    margin-right: 18px;
}

.category-dropdown:hover .dropdown-btn i:nth-child(2) {
    display: none;
}

.category-dropdown:hover .dropdown-btn i:first-child {
    display: inline-block;
}

.category-dropdown:hover .dropdown-btn {
    color: #fff;
    background-color: #39f
}

.category-dropdown:hover .dropdown-menu {
    display: block;
}

.category-dropdown .dropdown-menu {
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.dropdown-menu .menu-vertical {
    display: flex;
    line-height: 1.5;
    flex-direction: column;
}

.menu-vertical .dropdown-item {
    display: block;
    color: rgb(86, 86, 86);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 14px 22px 14px 22px;
    width: 100%;
}

.menu-vertical li:hover>a,
.menu-vertical li.show>a,
.menu-vertical li.active>a {
    color: #39f;
    background-color: #fff;
}

.main-menu .menu-center li+li {
    margin-left: 10px;
}

.menu-center li:hover>a,
.menu-center li.show>a,
.menu-center li.active>a {
    color: #39f
}

.menu-center>li>a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.99px;
    background-color: #39f;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform .3s ease;
}

.menu-center li:hover>a:before,
.menu-center li.show>a:before,
.menu-center li.active>a:before {
    transform-origin: left center;
    transform: scale(1, 1);
}

.menu-center>li>a::before {
    top: 0
}

.header-nav-right {
    position: relative;
    margin-left: auto;
    display: flex;
}

.header-nav-area {
    box-shadow: 0 5px 5px -6px rgba(169, 169, 169, 0.5);
}

.header-nav-right p {
    padding-right: 2px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(117, 117, 117);
}

.header-nav-right .highlight {
    color: rgb(43, 43, 43);
    font-weight: 550;
}

.header-nav-right i {
    color: #333;
    font-size: 16px;
    margin-right: 15px;
}

.header-nav-right::after {
    position: absolute;
    content: '|';
    color: #ccc;
    right: 260px;
}

.sticky-nav.menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: sticky 0.7s;
    box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
    background-color: #fff;
}

@keyframes sticky {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}