body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    position: relative;
    color: #3a3a3a;
}

a,
button {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

a:hover,
a:focus {
    color: #0080ff
}

textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    outline: 0;
}

label {
    margin-bottom: 10px;
}

@media (min-width: 1400px) {

    .container {
        max-width: 1200px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

input:focus,
button:focus {
    outline: 0px dotted;
    box-shadow: none;
}

input {
    display: inline-block;
    line-height: 46px;
    height: 46px;
    font-size: 15px;
    font-weight: 350;
    color: rgb(40, 39, 39);
    width: 100%;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

/* -------------------------------------- LOGIN REGISTER ---------------------------------------*/

.login-register-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.login-register-wrapper {
    padding: 50px 60px 60px;
    box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);
}

.login-register-tab-list a {
    width: 50%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.login-register-tab-list a h4 {
    color: #333;
    font-weight: 400;
    margin: 0;
}

.login-register-tab-list a.active {
    border-bottom: 2px solid #39f;
}

.login-register-tab-list a.active h4 {
    color: #39f;
}

.login-register-wrapper .tab-content {
    padding-top: 30px;
}

.login-register-form label {
    font-size: 15px;
    font-weight: 400;
}

.login-register-form input {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
    margin-bottom: 13px;
}

.login-register-form input:focus {
    border: 1px solid #266bf9;
}

.login-register-form .button-box .login-toggle-btn {
    position: relative;
    margin: 10px 0 5px 0;
}

.login-register-form .button-box .login-toggle-btn input {
    margin-top: 5px;
    bottom: 8px;
    position: absolute;
    height: 15px;
    width: 25px;
    margin: 0;
}

.login-register-form .button-box .login-toggle-btn span {
    padding-left: 30px;
}

.login-register-form .button-box .login-toggle-btn a {
    float: right;
    color: #333;
}

.login-register-form .button-box .login-toggle-btn a:hover {
    color: #39f;
}

.login-register-form .button-box button {
    color: #39f;
    border: 1px solid #39f;
    border-radius: 2px;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 15px;
}

.login-register-form .button-box button i {
    margin-left: 10px;
    font-size: 12px;
}

.login-register-form .button-box button:hover {
    color: #fff;
}
.profile-area h6 {
    margin: 0;
}

.profile-area input {
    border: none;
    border-bottom: 1px solid #ccc;
}

.profile-area .card {
    border: none;
    box-shadow: 0 3px 16px rgba(51, 51, 51, 0.1);
}

.profile-area input[type=file] {
    display: none;
}

.profile-area input[type=file]+label {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #666;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -15px;
}

.profile-area .btn.logout{
    width: 120px;
    height: 35px;
    font-size: 15px;
}
.profile-area .btn.logout i {
    margin-left: 5px;
}
input {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
    margin-bottom: 13px;
}
.btn {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    transition: all 0.3s ease 0s;
    outline: none;
    box-shadow: none;
    border: 1px solid #266cf9d4;
    border-radius: 40px;
    width: 215px;
    height: 61px;
    background-color: #266cf9d4;
}

.btn-2 {
    font-size: 15px;
    color: #39f;
    border: 1px solid #39f;
    background-color: #fff;
    font-weight: 400;
    border-radius: 2px;
    height: 40px;
}


#btn-submit{
    padding: 0;
}

.btn:focus {
    box-shadow: none;
    outline: 0;
}

.btn:hover,
.btn-2:hover {
    background: #266bf9;
    transform: translateY(-1px);
    border-color: #266bf9;
    color: #fff;
}

.btn-2:hover {
    transform: none;
}

.g-recaptcha div {
    width: auto ;
}